body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.breadcrumb {
    background-color: #3173ad;
}

.breadcrumb > li > a {
    color: #ffffff;
}

.breadcrumb > li.active {
    color: #ffffff;
}

.cursor-pointer {
    cursor: pointer;
}

.clicable-action {
    cursor: pointer;
}

.bg-info{
    color: #fff;
}

.pagination {
    display: unset;
    margin: unset;
}

.pagination-first-last {
    color: #fff !important;
    background-color: #595959 !important;
}

.pagination-first-last:hover {
    background-color: #373737 !important;
}

.min-default-width {
    width: unset !important;
}

.div-float-right {
    float: right;
    margin-right: 10px;
}

.grid-photo-thumbnail-cell {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 65px;
    width: 65px;
}