

@{
    ViewBag.Title = "Index";
}

<a href="@Url.Action(MVC.Example.ExampleParents.List())">@Url.Action(MVC.Example.ExampleParents.List())</a> <br />
<a href="@Url.Action("Lista2", "ExampleParents", new { area = "Example" })">@Url.Action("Lista2", "ExampleParents", new { area = "Example" })</a>
